<h1> Choose your moves </h1>
<form action='/results' method='get'>
  <div class="form-group">
    <select class="form-control" id ="sign" name="sign">
      <option value="rock">rock</option>
      <option value="scissors">scissors</option>
      <option value="paper">paper</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" id="sign2" name="sign2">
      <option value="rock">rock</option>
      <option value="scissors">scissors</option>
      <option value="paper">paper</option>
    </select>
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>

<!--
<form action='/results' method='get'>
  <div class="form-group">
  <label for="score"> Your word</label>
  <input id="score" name="score" class="form-control" type="text">
</div>
<button type="submit" class="btn-success">Send</button>
</form> -->
